You are a task decomposition agent. Break down the following task into 2-3 concrete subtasks.

Task: {{ task_description }}

Return ONLY a JSON array of subtask objects. Each object must have a "description" field.
Example: [{"description": "Subtask 1"}, {"description": "Subtask 2"}]

JSON array:
