{# Parent context template for ParentSummary #}
{# Renders parent task, result, and decisions #}

{% if parent_summary %}
<PARENT_CONTEXT>
<task>{{ parent_summary.task }}</task>
{% if parent_summary.role %}
<role>{{ parent_summary.role }}</role>
{% endif %}
{% if parent_summary.result %}
<result>{{ parent_summary.result }}</result>
{% endif %}
{% if parent_summary.decisions %}
<decisions>
{% for decision in parent_summary.decisions %}
- {{ decision }}
{% endfor %}
</decisions>
{% endif %}
</PARENT_CONTEXT>
{% endif %}
